# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images
*.ai
*.png
*.jpg
*.gif

# Meshes and point clouds
*.obj
*.stl
*.ply
*.xyz

# Extra directories
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
build/
bin/
bin_rel/
cmake-build-*
latex.out/
Win32
x64
yimg.dir

/3rdparty/.cache
/3rdparty/polyfem
/3rdparty/pngwriter

# Mac OS
.DS_Store

# Config stuff
*.ini
*.json

# Latex stuff
*.bbl
*.blg
*.log
*.out
*.pdf
*.aux
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml
*-blx.bib

# Project specifics
src/gurobiImplementation/Data/
src/gurobiImplementation/_main.txt
src/gurobiImplementation/LICENSE
data/2_param.txt
data/1.txt

data/*
