[submodule "3rdparty/libigl"]
	path = 3rdparty/libigl
	url = https://github.com/libigl/libigl.git
[submodule "3rdparty/geogram"]
	path = 3rdparty/geogram
	url = git@github.com:alicevision/geogram.git
[submodule "3rdparty/tinyformat"]
	path = 3rdparty/tinyformat
	url = git@github.com:c42f/tinyformat.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = git@github.com:nlohmann/json.git
